[submodule "lib/array"]
	path = lib/array
	url = https://github.com/janelia-arduino/Array.git
[submodule "lib/logging"]
	path = lib/logging
	url = https://github.com/kbeaugrand/Arduino-Logging-Library.git
[submodule "lib/uartWiFi"]
	path = lib/uartWiFi
	url = https://github.com/kbeaugrand/Arduino-ESP13-uartWiFi-Driver.git
